html {
	min-height: 100%;
}

body {
	background: #b89dd1; /* Old Browsers */
	background: -webkit-linear-gradient(bottom right,#b89dd1,#f7f7f7); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom right,#b89dd1,#f7f7f7); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom right,#b89dd1,#f7f7f7); /*Fx 3.6-15*/
	background: linear-gradient(bottom right, #b89dd1, #f7f7f7); /*Standard*/
	background-attachment: fixed;
}

.cloud {
	width: 100%;
	min-height: 250px;
	background: rgb(255,255,255);
	padding: 25px;
	padding-bottom: 63px;
	position: relative;
	border: 1px solid rgb(240,240,240);
	border-radius: 2px;
	z-index: 2;
	overflow: hidden;
}

.cloud-container {
	width: 80%;
	max-width: 500px;
	min-height: 250px;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 20px;
	padding: 0;
	position: relative;
}

.cloud-container .cloud__triangle {
	width: 25px;
	height: 25px;
	background: rgb(255,255,255);
	transform: rotate(135deg);
	-moz-transform: rotate(135deg);  /* Firefox */
    -o-transform: rotate(135deg);  /* Opera */
    -webkit-transform: rotate(135deg);  /* Safari y Chrome */
    position: absolute;
    bottom: -13px;
    right: 20px;
    border-right: 1px solid rgb(240,240,240);
    border-top: 1px solid rgb(240,240,240);
    z-index: 5;
}

.btn {
	border-radius: 2px;
	position: absolute;
}

.next {
	bottom: 25px;
	right: 25px;
}

.prev {
	bottom: 25px;
	left: 25px;
}

p {
	font-size: 16px;
	font-family: 'Alegreya Sans SC', cursive;
}

.h1-i-think {
	color: rgb(171,138,199);
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
}

p .ln-th {
	text-decoration: line-through;
}

.avatar {
	border-radius: 50%;
	border: 1px solid rgb(240,240,240);
	width: 10%;
	height: 10%;
	max-width: 130px;
	max-height: 130px;
	position: absolute;
	bottom: -45px;
	right: -160px;
}

#container6 {
	position: relative;
}

#container6 button {
	display: block;
	position: absolute;
	bottom: -55px;
	left: 50%;
	margin-left: -49px;
}